<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow">
      <div class="card-body">
        <form id="newCampgroundForm" class="validated-form" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="campground[title]" id="title" required>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="campground[location]" id="location" required>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Add Campground Image(s):</label>
            <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">₹</span>
              <input type="text" class="form-control" aria-label="price" id="price" placeholder="0" name="campground[price]" required>
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <button class="btn btn-success">Add Campground</button>
          </div>
        </form>
        <div class="card-footer">
          <a href="/campgrounds">Back to all Campgrounds</a>
        </div>
      </div>
    </div>
  </div>
</div>
